.flex-container {
    display: flex;
    background-color: aqua;
    border: black solid;
}
.flex-container > div {
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: black solid;
}